# IN PROGRESS

First things first, we want to get our stock data. We will be predicting the 'SPY' index ticker using Yahoo Finance as it is the most readily available free source of stock data. 

    Ideally, we would want to use ticker data to have the most optimal model, but that is usually locked behind a broker's database for a fee.

Pandas has a neat model called DataReader that makes scraping Stock price points a breeze:

In [12]:
import pandas as pd
from pandas_datareader import data


panel_data = data.DataReader('SPY', 'yahoo', '2017-01-01', '2022-06-14')

This code pulls a DataFrame that can be thought of as a 3D matrix. The first dimension consists of the various fields Yahoo Finance returns for a given instrument, namely, the Open, High, Low, Close and Adj Close prices for each date. The second dimension contain the dates. The third one contains the instrument identifier.
    
    Google has made fantastic strides in providing us clean data. NaN values from holidays were already accounted for.

In [13]:
panel_data.head(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,225.830002,223.880005,225.039993,225.240005,91366500.0,204.625183
2017-01-04,226.750000,225.610001,225.619995,226.580002,78744400.0,205.842514
2017-01-05,226.580002,225.479996,226.270004,226.399994,78379000.0,205.678986
2017-01-06,227.750000,225.899994,226.529999,227.210007,71559900.0,206.414886
2017-01-09,227.070007,226.419998,226.910004,226.460007,46939700.0,205.733490
2017-01-10,227.449997,226.009995,226.479996,226.460007,63771900.0,205.733490
2017-01-11,227.100006,225.589996,226.360001,227.100006,74650000.0,206.314926
2017-01-12,226.750000,224.960007,226.500000,226.529999,72113200.0,205.797089
2017-01-13,227.399994,226.690002,226.729996,227.050003,62717900.0,206.269531
2017-01-17,226.779999,225.800003,226.309998,226.250000,61240800.0,205.542740